[submodule "client"]
	path = client
	url = https://github.com/PeriodFriendlyBristol/period-dignity-app-client.git
[submodule "server"]
	path = server
	url = https://github.com/PeriodFriendlyBristol/period-dignity-app-server.git
